h1 {
  color : white ;
}

h1 img {
    height : 50px;
    width : 50px;
    margin : 5px;
    border-radius : 5px;
}


#movies {
  display : flex;
  flex-wrap: wrap;

}

#movies div {
  display: flex;
  flex-direction: column;
  margin : 30px;
  
  padding : 6px;
  border-radius : 10px;
}

#movies div:hover {
  transition: 0.2s ease;
  transform : scale(1.1);
}

#movies div img {
  height : 300px;
  width : 100%;
  border-radius : 10px;
}


#suggestions {
  position : absolute;
  max-height : 200px;
  width : 100%;
  top : 100%;
  left : 0;
  border : 1px solid blueviolet;
  display : none;
}

/* #suggestions div{
  padding : 10px;
  cursor : pointer;
}

#suggestions div:hover {

} */